*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 420px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: black
  ;
}

.header{
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.header img {
  height: 40px;
}

.search-bar{
  width:80%;
  margin: 0px auto 20px auto;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: 2px solid green;
  padding: 10px 10px;
  border-radius: 8px;
}

.container-button {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  background-color: transparent;
  justify-content: start;
  align-items: start;
  padding: 0px 30px 30px;
}

.container-button button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  gap: 8px;
}

.cookie-btn:hover{
  cursor: pointer;
}

.cookie-btn img {
  object-fit: cover;
  width: 58px;
  height: 58px;
  border-radius: 16px;
}

.cookie-btn p {
  font-size: 8px;
  font-weight: bold;
  color: white;
}